     body {
            background-image: url('img/wallpaper2.png'); 
            background-size: cover; 
            background-attachment: fixed; 
            background-position: center; 
            color: #ffffff; 
        }
     
     .btn-primary, .btn-warning, .btn-danger {
            background-color: #6f42c1;
            border-color: #6f42c1;
        }
        .btn-primary:hover, .btn-warning:hover, .btn-danger:hover {
            background-color: #5a3598;
            border-color: #5a3598;
        }

        .navbar {
            background-color: #6f42c1 !important;
        }
        .navbar-dark .navbar-nav .nav-link {
            color: white;
        }
        .navbar-dark .navbar-nav .nav-link:hover {
            color: #ddd;
        }

        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #6f42c1;
            color: white;
            text-align: center;
            padding: 10px 0;
        }

        .footer-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 15px;
        }

        .form-background {
            background-color: #ffffff;
            border-radius: 10px; 
            padding: 20px; 
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
            color: #000000; 
        }