
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
.container {
  display: flex;
  justify-content: space-between;
}
.column {
  text-align: center; 
  margin: 0 auto; 
}

.icone {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.icone:hover {
  color: #ff0000;
}
